<?xml version="1.0"?>
<!-- ProductID & PackageID need to be unique for each revision ('*' generates a new guid) for the MajorUpgrade feature to work properly -->
<?define ProductID = "*"?>
<?define PackageID = "*"?>
<?define ProductUpgradeCode = "2DB26083-B7DB-47D1-AE82-0CF9EC2A38A7"?>
<?define ProductIcon = "$(var.SolutionDir)Installer\Resources\VideoXpert_Ops.ico"?>
<?define WixUIDialogBmp = "$(var.SolutionDir)Installer\Resources\vx-installer-intro-bg.jpg"?>
<?define WixUIBannerBmp = "$(var.SolutionDir)Installer\Resources\vx-installer-interior-banner-bg.jpg"?>
<?define Version = "1.12.5.0"?>
<?define App = "$(var.ASCIIVxTranslatorService.TargetDir)"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductID)" UpgradeCode="$(var.ProductUpgradeCode)" Name="ASCIIVxTranslatorService" Version="$(var.Version)" Manufacturer="Pelco by Schneider Electric" Language="1033">
    <Package Id="$(var.PackageID)" Keywords="Installer,MSI" Manufacturer="Pelco by Schneider Electric" InstallerVersion="200" Compressed="yes" Comments="$(var.Version)"/>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="http://www.pelco.com"/>
    <Property Id="ARPURLINFOABOUT" Value="http://www.pelco.com"/>
    <Property Id="ARPNOMODIFY" Value="1"/>
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    
    <Icon Id="ProductIcon" SourceFile="$(var.ProductIcon)"/>    
    <WixVariable Id="WixUIDialogBmp" Value="$(var.WixUIDialogBmp)" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.WixUIBannerBmp)" />    
    
    <UI Id="Mondo">
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
    </UI>
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed! If you intend to downgrade, you must first remove the existing version via Add/Remove Programs."/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="TestFolder" Name="Pelco">
          <Directory Id="INSTALLFOLDER" Name="ASCIIVxTranslatorService">
            <Component Id="ApplicationFiles" Guid="C03C944D-7B83-4E28-9352-BD08D6FB06E9">
              <File Id="VxEventServer.dll" Source="$(var.App)/VxEventServer.dll"/>
              <File Id="VxEventServer.dll.config" Source="$(var.App)/VxEventServer.dll.config"/>
              <File Id="CPPCli.dll" Source="$(var.App)/CPPCli.dll"/>
              <File Id="VxSDK.dll" Source="$(var.App)/VxSDK.dll"/>
              <File Id="cpprest140_2_8.dll" Source="$(var.App)/cpprest140_2_8.dll"/>
              <File Id="defaultAlarmConfiguration.xml" Source="$(var.App)/defaultAlarmConfiguration.xml"/>
              <File Id="defaultASCIICommandConfiguration.xml" Source="$(var.App)/defaultASCIICommandConfiguration.xml"/>
              <File Id="defaultASCIIEventServerSettings.xml" Source="$(var.App)/defaultASCIIEventServerSettings.xml"/>
              <File Id="defaultCustomSituations.xml" Source="$(var.App)/defaultCustomSituations.xml"/>
              
              <File Id="ASCIIVxTranslatorService.exe"
                      Name="ASCIIVxTranslatorService.exe"
                      Source="$(var.App)/ASCIIVxTranslatorService.exe"
                      Vital="yes"
                      KeyPath="yes"
                      DiskId="1" />
              <File Id="ASCIIVxTranslatorService.exe.config"
                      Name="ASCIIVxTranslatorService.exe.config"
                      Source="$(var.App)/ASCIIVxTranslatorService.exe.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
              
              <ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Vital="yes"
                                Name="ASCIIVxTranslatorService"
                                DisplayName="ASCII Vx Translator Service"
                                Description="ASCII Vx Translator Service"
                                Start="auto"
                                Account="LocalSystem"
                                ErrorControl="ignore"
                                Interactive="no">

              </ServiceInstall>

              <!-- removed for testing Start="install" -->
              <ServiceControl Id="StartService"
                                Stop="both"
                                Remove="uninstall"
                                Name="ASCIIVxTranslatorService"
                                Wait="yes" />

              <ServiceConfig DelayedAutoStart="yes"
                             ServiceName="ASCIIVxTranslatorService"
                             OnInstall="yes"
                             OnReinstall="yes" />
              
              <util:ServiceConfig xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
                                FirstFailureActionType="restart" 
                                SecondFailureActionType="restart" 
                                ThirdFailureActionType ="none" 
                                RestartServiceDelayInSeconds ="60"
                                ResetPeriodInDays="1"
                                ServiceName="ASCIIVxTranslatorService" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
    </Feature>
  </Product>
</Wix>